//颜色值
$background-color = #f7faff
$hight-color = #447bf9
$line-color = #f7f7f7
//主题色
$theme-color = #e1b05f
$badge-color = #b08e56

//文字颜色
$text-default = #333
$text-title = #161829
$text-subtitle = #a0a3b2
$text-danger = #fe2b30

//线颜色
$line = #f3f5f9


//字体大小
$font-size-small-s = 20rpx
$font-size-small =  24rpx
$font-size-medium = 28rpx
$font-size-medium-x = 32rpx
$font-size-large = 36rpx
$font-size-large-x = 44rpx
